:root {
    --animation-duration: 500ms;
}

nav.container {
    grid-area: nav;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    border-right: 1px solid var(--border-nav-map-color);
    position: relative;
    background-color: var(--body-background-color);
    color: var(--body-text-color);
}

nav .btn {
    flex: 0 0 7em;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 95%;
    font-weight: normal;
    margin: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    outline: 0;
    border: none;
    border-radius: 2px;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 0.2em;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 var(--button-shadow-1), 0 1px 5px 0 var(--button-shadow-2),
        0 3px 1px -2px var(--button-shadow-3);
}

div.books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0.3em;
    margin: 0;
}

div.books a.chapter {
    flex: 0 0 4em;
}

.books li {
    flex: 0 0 5.4em;
    align-content: center;
    list-style: none;
    height: 24px;
    min-width: 5em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 0.5em 0 0.5em;
    margin: 0;
    color: var(--body-text-color);
    font-size: 11pt;
    font-weight: normal;
    text-shadow: 2px 0px 2px var(--text-shadow-color);
    background-color: var(--body-background-color);
    border: solid 5px;
}

.nav-content {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
}

.chapter-content {
    width: 100%;
    height: 100%;
}

.cross-fade-enter {
    opacity: 0;
    transform: translateX(0);
}

.cross-fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity var(--animation-duration);
}

.cross-fade-exit {
    opacity: 1;
    transform: translateX(0);
}

.cross-fade-exit-active {
    opacity: 0;
    transform: translateX(0);
    transition: opacity var(--animation-duration);
}

.slide-left-enter {
    transform: translateX(100%);
}

.slide-left-enter-active {
    transform: translateX(0%);
    transition: transform var(--animation-duration);
}

.slide-left-exit-active {
    transform: translateX(-100%);
    transition: transform var(--animation-duration);
}

.slide-right-enter {
    transform: translateX(-100%);
}

.slide-right-enter-active {
    transform: translateX(0%);
    transition: transform var(--animation-duration);
}

.slide-right-exit-active {
    transform: translateX(100%);
    transition: transform var(--animation-duration);
}

/* Override the slide direction when the user has changed directions
   from the original entrance direction for the outgoing div */
.slide-right-enter-active + .slide-left-exit-active,
.slide-right-enter-active + .cross-fade-exit-active {
    opacity: 1;
    transform: translateX(100%);
    transition: transform var(--animation-duration);
}

.slide-left-enter-active + .slide-right-exit-active,
.slide-left-enter-active + .cross-fade-exit-active {
    opacity: 1;
    transform: translateX(-100%);
    transition: transform var(--animation-duration);
}

/* Replace slide left/right exit with cross-fade exit */
.cross-fade-enter-active + .slide-left-exit-active,
.cross-fade-enter-active + .slide-right-exit-active {
    transform: translateX(0);
    opacity: 0;
    transition: opacity var(--animation-duration);
}

.slide-right-enter-active .nav-previous .icon svg,
.slide-left-enter-active .nav-previous .icon svg,
.cross-fade-enter-active .nav-previous .icon svg,
.slide-right-enter-active .nav-next .icon svg,
.slide-left-enter-active .nav-next .icon svg,
.cross-fade-enter-active .nav-next .icon svg {
    display: none;
}

.scripturewrapper {
    min-height: 100%;
    overflow-x: hidden;
    background-color: var(--chapter-background-color);
    color: var(--body-text-color);
    padding-block-start: 1em;
    padding-block-end: 3em;
    width: 100%;
    font: -apple-system-body;
    font-family: "Palatino", serif;
    font-size: 120%;
    line-height: 1.45em;
    -webkit-text-size-adjust: 100%;
    display: flex;
    justify-content: center;
}

div.chapterheading {
    font-size: 110%;
    font-weight: 500;
    letter-spacing: 0.09em;
    text-align: center;
    text-transform: uppercase;
    margin: 0.4em;
}

div.chapterheading .big {
    font-size: 150%;
    font-weight: 500;
    letter-spacing: 0.09em;
    display: inline-block;
    padding: 0.3em;
}

div.navheading {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navheading .divtitle {
    font-size: 110%;
    font-weight: 500;
    letter-spacing: 0.09em;
    display: inline-block;
    padding: 0.3em;
}

#scriptures ul.versesblock {
    margin: 0;
    line-height: auto;
    list-style: none;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

ul.versesblock li {
    position: relative;
    display: block;
    margin-bottom: 0.3em;
}

ul.versesblock li.sectionHeader {
    font-style: italic;
}

span.verse {
    padding-left: 0.4em;
    padding-right: 0.3em;
}

.scripturewrapper li a,
.scripturewrapper li a:visited,
.scripturewrapper li a:active {
    color: var(--scripture-link-color);
    text-decoration: none;
}

.scripturewrapper li a:hover {
    color: var(--scripture-hover-color);
    text-decoration: underline;
}

.scripturecontent {
    flex: 1;
    max-width: 30em;
    padding-inline-start: 2em;
    padding-inline-end: 2em;
}

.scripturecontent ul {
    padding-inline-start: 0.6em;
    padding-inline-end: 0.6em;
}

.match {
    background-color: var(--match-background-color);
}

.verse,
.footVerse {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    line-height: 1.45em;
}
