.next-prev-wrapper {
    grid-area: nextprev;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    font-size: 95%;
    text-transform: uppercase;
    font-weight: 400;
    background-color: var(--header-background-color);
}

.previous-link {
    flex: 1 1 50%;
    justify-content: flex-end;
    text-align: right;
    padding-inline-end: 1em;
}

.next-link {
    flex: 1 1 50%;
    justify-content: flex-start;
    text-align: left;
    padding-inline-start: 1em;
}

.next-prev-wrapper a:link,
.next-prev-wrapper a:visited,
.next-prev-wrapper a:active {
    color: var(--header-text-color);
    text-decoration: none;
}

.next-prev-wrapper a:hover {
    color: var(--header-hover-color);
    text-decoration: underline;
}

.next-prev-wrapper .nav-icon {
    stroke: var(--header-text-color);
}

.next-prev-wrapper a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.next-prev-wrapper .next-link a {
    justify-content: flex-start;
}

.next-prev-wrapper .icon svg {
    height: 0.85em;
    margin: 0.5em;
}

.next-prev-wrapper a:hover .nav-icon {
    stroke: var(--header-hover-color);
}
